// color vars
$red_main: #D44942;
$gray_main: gray;
$beige_main: #FFF8DC;
$black_main: black;

// font-size
$fine_print: 0.75em;
$text_print: 1.375rem;
$header_print: 2.5rem;
$large_print: 3rem;

.bizcard {
  background-color: $beige_main;
  text-align: center;
  padding: 15px;
  width: 700px;
  height: 125px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: table;
  border-radius: 20px; 
}

.bizcard .row.content{
  background-color: $beige_main;
  text-align: center;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.bizcard .row.story {
  font-size: $text_print;
  float: left;
  text-align: left;
  padding: 15px 30px;
  width: 100%;
  height: 100%;
}

.bizcard .content {
  -webkit-box-flex: 3;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 3;
  /* OLD - Firefox 19- */
  -webkit-flex: 3;
  /* For old syntax, otherwise collapses. */
  -ms-flex: 3;
  /* IE 10 */
  flex: 3;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  text-align: left;
  margin: auto 0;
  display: relative; 
}

.bizcard .links {
  -webkit-box-flex: 2;     /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 2;        /* OLD - Firefox 19- */
  -webkit-flex: 2;         /* For old syntax, otherwise collapses. */
  -ms-flex: 2;             /* IE 10 */
  flex: 2;                 /* NEW, Spec - Opera 12.1, Firefox 20+ */
  text-align: left;
  margin: auto 0;
}

.bizcard .links a:hover {
  color: $red_main;
  background-color: $beige_main;
  text-decoration: none;
}

.bizcard .links ul > li {
  float: right;
  margin: 0 1rem;
  display: inline-block;
  list-style-type: none;
}

.bizcard .story a {
  background: none;
  padding: 0;
  text-decoration: underline;
}

// all clicked links launch target blank,
// so put color back to gray
.bizcard .story a:focus,
.bizcard .links a:focus {
  color: $gray_main;
  text-decoration: underline;
}

.bizcard .name {
  font-weight: 900;
  font-size: $header_print;
  color: $black_main;
  float: left;
}

.bizcard .info {
  float: left;
  clear: both;
}

.big-icon {
    font-size: 22px;
}

// MOBILE :::::::::::::
// ====================
// VIEWPORT < 750px
@media (max-width: 750px) {
  .bizcard {
    background-color: $beige_main;
    text-align: center;
    padding: 15px;
    width: 100%;
    max-height: 125px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: table;
    border-radius: 20px; 
  }

  .bizcard .row.content {
    flex-direction: column;
  }
}

// VIEWPORT < 385px
@media (max-width: 385px) {
  .bizcard {
    max-height: 350px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: table;
    border-radius: 20px; 
  }

  .bizcard .links ul {
    margin: 30px 10px 5px 10px;
    padding: 0;
  }

  .bizcard .links ul>li {
    float: none;
  }
}








.pageCenter {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.main {
  margin-top: 15em;
  font-size: 1.1em;
  font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Alegreya Sans SC', sans-serif;
  /* font-family: 'Tenali Ramakrishna', sans-serif;*/
  color: $gray_main;
}

body {
  margin: 0;
  background: $black_main; 
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  -webkit-transition: 1s opacity;
}

.stopfade { 
   opacity: .5;
}

h1 {
  font-size: $large_print;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

a {
  display: inline-block;
  color: $gray_main;
  text-decoration: none;
  padding: .5rem;
  transition: .6s background; 
  -webkit-transition: .6s background; 
}

a:hover{
  background: $red_main;
}

.credit{
  font-size: $fine_print;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}


// MOBILE :::::::::::::
// ====================
// VIEWPORT < 1024px
// turn off video...
@media (max-width: 1024px) {
  video { 
    display: none;
  }

  body {
    background-image: url("../assets/endless_planet.jpg");
    background-size: cover;
  }

  #footer {
    display: none;
  }
}

// VIEWPORT < 800px
@media (max-width: 800px) {
  .main {
    margin-top: 8.5em;
  }
}

// VIEWPORT < 569px
@media (max-width: 569px) {
  .main {
    margin-top: 0em;
  }
}
